body {
  font-family: 'Brandon Grotesque', 'Helvetica', sans-serif;
  padding: 1rem;
}


/*-----Main-----*/

.container {
  display: grid;
  grid-template-rows: repeat(3, 0fr);
  font-weight: bold;
  border-radius: 15px;
  padding-bottom: 100px;
}

#time, #clock, #clock-2 {
  text-align: center;
  padding: none;
  margin: none;
}


/*-----Logo-----*/

#time {
  background-color: #eeeeee;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 50px;
  margin-bottom: 30px;
  max-width: auto;
  max-height: 600px;
  border-radius: 15px;
}

#achtergrond {
  margin: 200px;
}

#logo {
  max-width: 660px;
  max-height: 81.2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}


/*-----Klok-----*/

#clock {
  font-size: 10vw;
}

#clock-2 {
  font-size: 6vw;
}


/*-----Schermbreedtes-----*/

@media (min-width: 250px) {
  #time, #clock, #clock-2 {

  }
}

@media (min-width: 850px) {
  #achtergrond {
    margin: 75px;
  }

  #logo {
    margin-top: 75px;
  }
}

@media (min-width: 1300px) {
  .container {
    padding-bottom: 50px;
  }

  #clock {
    font-size: 8vw;
  }

  #clock-2 {
    font-size: 4vw;
  }
}

@media (min-width: 2560px) {
  .dashboard {
    margin-left: auto;
    margin-right: auto;
    width: 2560px;
  }
}